fastapi
uvicorn[standard]
gunicorn
sqlalchemy
aiosqlite
asyncpg
python-dotenv
pydantic
cloud-sql-python-connector[asyncpg]
google-generativeai
pinecone-client
beautifulsoup4
duckduckgo-search
aiohttp
